<mat-sidenav-container>

  <mat-sidenav-content>
    <div class="dashboard-bg-color" [style.background-color]="(dashboardBgColor$ | async)"></div>
    <gridster *ngIf="dashboardOptions && widgets.length" [options]="dashboardOptions" [style.background-image]="bgImg">
      <gridster-item [item]="widget" *ngFor="let widget of widgets">
        <dynamic-component-container [widget]="widget" [isEditMode]="isEditMode"></dynamic-component-container>
      </gridster-item>
    </gridster>
    <div class="settings">
      <div [matMenuTriggerFor]="menu" class="settings__icon icon"></div>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="toggleEditMode()">{{toggleEditText}}</button>
      <button mat-menu-item (click)="isEditMode = !isEditMode">Add widget</button>
      <button mat-menu-item (click)="openSettingsDialog()">Settings</button>
    </mat-menu>
  </mat-sidenav-content>

  <mat-sidenav mode="side" [opened]="isEditMode">
    <dashboard-settings-form *ngIf="isSettingsFormOpened; else widgetEditor"></dashboard-settings-form>
    <ng-template #widgetEditor>
      <widget-editor></widget-editor>
    </ng-template>
  </mat-sidenav>
</mat-sidenav-container>
